.Kazantseva {
    position: absolute;
    width: 257px;
    height: 62px;
    right: 20px;
    top: 26px;
    text-align:center;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    
    text-align: center;
    
    color: #000000;
    border: 1px solid rgb(10, 9, 9)(105, 105, 105);
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 29px;
    padding-top: 39px;
    }
    

.head-information li {
    position: relative;
    display: inline;	/* Располагаем элементы по горизонтали */
    list-style: none;
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    left: -80px;

    
}


.hello h1 {
    position: relative;
    top:200px;
    left:30px;
    border: 1px solid rgb(10, 9, 9)(105, 105, 105);
    padding: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    
    text-align: center;
    
    color: #000000;
    border: 1px solid rgb(10, 9, 9)(105, 105, 105);
    padding: 10px;
    }


    .about {
        position: absolute;
        width: 257px;
        height: 62px;
        right: 20px;
        top: 26px;
        text-align:center;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        /* or 155% */
        
        text-align: center;
        
        color: #000000;
        border: 1px solid rgb(10, 9, 9)(105, 105, 105);
        padding-left: 122px;
        padding-right: 122px;
        padding-bottom: 29px;
        padding-top: 39px;

    }
    .education {
        position: absolute;
        width: 257px;
        height: 62px;
        right: 20px;
        top: 26px;
        text-align:center;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        /* or 155% */
        
        text-align: center;
        
        color: #000000;
        border: 1px solid rgb(10, 9, 9)(105, 105, 105);
        padding-left: 122px;
        padding-right: 122px;
        padding-bottom: 29px;
        padding-top: 39px;

    }

    .why-me {
        position: relative;
        width: 257px;
        height: 62px;
        right: 20px;
        top: 26px;
        text-align:center;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        /* or 155% */
        
        text-align: center;
        
        color: #000000;
        border: 1px solid rgb(10, 9, 9)(105, 105, 105);
        padding-left: 122px;
        padding-right: 122px;
        padding-bottom: 29px;
        padding-top: 39px;

    }


    .my-students {
        position: relative;
    width: 257px;
    height: 62px;
    right: 20px;
    top: 26px;
    text-align:center;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    
    text-align: center;
    
    color: #000000;
    border: 1px solid rgb(10, 9, 9)(105, 105, 105);
    padding-left: 110px;
    padding-right: 90px;
    padding-bottom: 29px;
    padding-top: 39px;
    padding-bottom: 29px;

    }


  .hello {
      position: absolute;


  }
  
  .hello h1 {
    position: relative;
    left: 290px;
    bottom:101px;
    top: 400px;
    text-align: inherit;
    

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 84px;
line-height: 130px;
/* identical to box height, or 155% */

color: #000000;
  }
  
  .Nastya-1 {
      position: absolute;
      left:1050px;
      top:140px;
  }

  .arrow {
    position: relative;
    left: 390px;
    bottom:101px;
    top: 400px;
  }


    .about-me {
        position: relative;
        right: 200px;
        top: 900px;
    }

    .Nastya-2 {
        position: absolute;
        left: 290px;
        top:140px;
    }

    .challengers {
        position: absolute;
        width: 638px;
        height: 527px;
        left: 1000px;
        top: 250px;
        font-family: 'Roboto', sans-serif;
        
        
    }


    .additional-education {
        position: absolute;
        width: 638px;
        height: 527px;
        left: 1000px;
        top: 350px;
        font-family: 'Roboto', sans-serif;
    }


    .cambridge {
        position: absolute;
        width: 638px;
        height: 527px;
        left: 1000px;
        top: 450px;
        font-family: 'Roboto', sans-serif;
    }

    .text-about-me h3 {
        position: absolute;
width: 137px;
height: 73px;
left: 1150px;
top: 160px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px;
/* or 155% */

text-align: center;

color: #000000;
    }


    
    .education h1 {
        position: relative;
        height: 75px;
        right: 1310px;
        
        top: 1782px;
        
        font-weight: normal; /* Убираем жирное начертание */
        padding-bottom: 5px; /* Расстояние от текста до линии */

        border-radius: 0px;
        display: inline-block;
        




        
    }
    

.images-in-education {
    position: relative;
    top: 1882px;
    right: 1410px;
}




.faculty {
    position: absolute;
    left: 50px;
    top: -10px;
}


.photo-from-vk {

    position: absolute;
    top: -10px;
    left: 900px;


}




.sign-to-faculty {
    
    top: 2550px;
    right: 1210px;
    position: absolute;
width: 460px;
height: 145px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
/* or 142% */

text-align: center;

color: #000000;
    

}

.sign-to-photo-from-vk {
    position: absolute;
width: 544px;
height: 161px;
top: 3200px;
right: 310px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
/* or 142% */

text-align: center;

color: #000000;
  
}

.whole-arrow {
    position: static;
}
.arrow-bottom {
position: relative;
width: 346.04px;
height: 0px;
top: 2805px;
right: 451px;

border: 1px solid #E29BAB;
box-sizing: border-box;
transform: rotate(-89.18deg)
}


.arrow-top {
    position: relative;
    width: 20px;
    height: 20px;
    border-top: 5px solid #E29BAB;
    border-right: 5px solid #E29BAB;
    margin-right: 10px;
    top: 2659px;
    right: 288px;
    transform: rotate(-40.18deg)
      
}



.why-me h1 {
    position: relative;
    margin-top: 3400px;
    
}

.why-me-advantages {
    position: absolute;
    top: 3500px;
    left: 100px;
    
    

}

.why-me-advantages li {
    text-align:left;
}


.images-about-london  {
    position: relative;
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    
}


.about-my-students h1 {
position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 108px;
top: 4450px;
left: 150px;
}


.my-students-photo {
    position: relative;
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    
    position: absolute;
    top: 4500px;
    left: 100px;
}   

.my-students-photo img {
    width: 436;
    height: 299px;
}
.my-students-photo h3 {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 58px;
line-height: 48px;
/* or 83% */


color: #FF5C5C;
}


.teens h3 {
    color: #B63DB9;
}

.footer {
    position: relative;
    margin-top: 5100px;
    background: #AABAD0;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -20px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* or 140% */
}

.left-side h1 {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 69px;
line-height: 108px;
/* identical to box height, or 157% */


color: #000000;
}


.social-links  {
    position: relative;
    margin-top:40px;
    margin-left: 70px;
    list-style-type: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}


.left-side p {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 155% */


color: #000000;
position: relative;
margin-top:40px;
margin-left:105px;

}

.date  {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 155% */
    
    
    color: #000000;
    position: relative;
    margin-top:100px;
    margin-left:105px;
}


.right-side {
    position: relative;
    margin-left: 1100px;
    margin-bottom: 100px;
}

.line-above-no-spam {
    position: absolute;
	top:100px;
    width: 100%;
	height: 5px;
	background: rgb(8, 7, 7);
}

.no-spam {
    position: relative;
    left: -100px;
    bottom: 280px;
	padding-left:100px;
	padding-bottom:30px;
	border-bottom:5px solid rgb(8, 7, 7);
    
}

.line-between-right-and-left {
    position: absolute;
    width: 5px;
	left:600px;
	height: 100%;
	background: rgb(8, 7, 7);

}


.instagram-facebook-icon {
    position: relative;
    margin-top:100px;
    margin-left: 70px;
    

}

